:root{
    --white: #fafafa ;
    --dblue: #00348a ;
    --lblue: #0bbbd6;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'ubuntu', sans-serif;
text-decoration: none;
}
main {
    justify-content: space-around;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 1rem;
    box-shadow: 0px 0px 16px rgb(0, 255, 0);
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    }
main:hover {
        box-shadow: 0px 0px 25px lime;
        transition: 0.5s ease-in-out;
    }
    header {
    width: 98%;
    margin-left: 1%;
    text-align: center;
    box-shadow: 2px 2px 16px rgb(0, 255, 0);
    background-color: rgba(0, 0, 0, 0.469);
    text-shadow: 0px 0px 4px rgb(0, 255, 0);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1%;
    border: 1px lime solid;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    }
    header a {
        color:rgba(255, 255, 255, 0.5);
        font-size: 1rem ;
        font-weight: 200;
        text-align: center;
        justify-items: center;
        display: flex;
        justify-content: center;
    }
    header:hover {
        box-shadow: 0px 0px 25px lime;
        transition: 0.5s ease-in-out;
    }
header {
    width: 98%;
    margin-left: 1%;
    text-align: center;
    box-shadow: 2px 2px 16px rgb(0, 255, 0);
    background-color: rgba(0, 0, 0, 0.469);
    text-shadow: 0px 0px 4px rgb(0, 255, 0);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1%;
    border: 1px lime solid;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    }
    header a {
        color:rgba(255, 255, 255, 0.5);
        font-size: 1rem ;
        font-weight: 200;
        text-align: center;
        justify-items: center;
        display: flex;
        justify-content: center;
    }
    header:hover {
        box-shadow: 0px 0px 25px lime;
        transition: 0.5s ease-in-out;
    }
    header {
        width: 98%;
        margin-left: 1%;
        text-align: center;
        box-shadow: 2px 2px 16px rgb(0, 255, 0);
        background-color: rgba(0, 0, 0, 0.469);
        text-shadow: 0px 0px 4px rgb(0, 255, 0);
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 1%;
        border: 1px lime solid;
        box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
        }
        header a {
            color:rgba(255, 255, 255, 0.5);
            font-size: 1rem ;
            font-weight: 200;
            text-align: center;
            justify-items: center;
            display: flex;
            justify-content: center;
        }
        header:hover {
            box-shadow: 0px 0px 25px lime;
            transition: 0.5s ease-in-out;
        }
        footer {
            width: 98%;
            margin-left: 1%;
            margin-bottom: 1%;
            text-align: center;
            padding: 1px;
            box-shadow: 0px 0px 10px rgb(0, 255, 0);
            background-color: rgba(0, 0, 0, 0.469);
            text-shadow: 0px 0px 1.4px rgb(58, 250, 5);
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            align-self: center;
            color:rgb(255, 255, 255,0.5);
            font-size: 1.6rem ;
            font-weight: 200;
            text-align: center;
            justify-items: center;
            display: flex;
            justify-content: center;
            border: 1px lime solid;
            box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
            }
        
            footer:hover {
                box-shadow: 0px 0px 25px lime;
                transition: 0.5s ease-in-out;
            }
            
.container {
    width: 98%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 1%;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.726) , 2px 2px 2px rgb(16, 80, 16);
    background-color: rgba(0, 0, 0, 0.469);
    border: 1px lime solid;
 }
 .container form:hover {
    box-shadow: 0px 0px 20px lime;
    transition: 0.5s ease-in-out;
}
.container form{
background: rgba(1, 65, 4, 0.801);
border: 1px lime solid;
display: flex;
flex-direction: column;
width: 25%;
padding: 2rem;
margin-top: 2%;
border-radius: 0.9rem;
box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
}
.container form label{
background: rgb(2, 22, 0);
border-radius: 1rem;
text-align: center;
font-weight: 600;
margin-bottom: 2%;
font-size: 1rem;
box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
}
.container form input{
    border: 0;
    background: rgba(255, 255, 255, 0.404);
    border-radius: 1rem;
    text-align: center;
    width: 25%;
    padding: 3%;
    font-weight: 900;
    font-size: 1rem;
    align-self: center;
    outline: 0;
    margin-top: 5%;
    color: black;
    text-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);

}
.container form input:hover {
background: white;
border: 1px rgb(0, 0, 0) solid;
transition: 0.5s ease-in-out;
}
.container form input:focus {
    box-shadow: 2px 2px 4px 2px rgb(0, 0, 0);
    background: white;
}
.container div button {
    background: rgba(1, 65, 4, 0.801);
    border: 1px lime solid;
    color: LIME;
    cursor:pointer;
    margin-top: 25%;
    box-shadow: 2px 2px 4px 2px rgb(0, 0, 0);
    padding: 3%;
    width: 130%;
    font-weight: 400;
    font-size: 0.8rem;
    align-self: center;
    align-items: center;
    text-align: center;
    border-radius: 0.7rem;
    margin-left: 70%;

}
.container div button:hover{
    box-shadow: 0px 0px 20px lime;
    transition: 0.5s ease-in-out;
    font-weight: 700;
    color: white;

}
.container .result-box h2{
    text-shadow:1px 1px 15px lime;
    margin-top: 0.5%;
    text-align: center;
    padding: 1rem;
}

.container .result-box span{
    text-shadow:1px 1px 20px lime;
    padding: 3rem;
}

.container #btnRestart{
    cursor: pointer;
    background-color: black;
    color: lime;
    margin-left: 4%;
    background: rgba(1, 65, 4, 0.801);
    border: 1px lime solid;
    color: LIME;
    cursor:pointer;
    box-shadow: 2px 2px 4px 2px rgb(0, 0, 0);
    width: 30%;
    font-weight: 200;
    font-size: 0.8rem;
    align-self: center;
    align-items: center;
    text-align: center;
    border-radius: 0.7rem;
    display: none;
}
.container #btnRestart:hover{
box-shadow: 0px 0px 20px lime;
transition: 0.5s ease-in-out;
font-weight: 700;
color: white;
}
body {
    background:linear-gradient(to bottom , rgb(0, 0, 0),rgba(0, 0, 0, 0.6));
    
}

